body {
  font-family: 'Proza Libre', sans-serif;
  font-size: 14px;
  color: white;
  background-color: black;
  text-align: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.github-handle {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.125em;
}

.portfolio-links {
  display: block;
}

a.portfolio-link {
  color: white;
  margin: 10px;
  font-size: 1.75em;
  text-decoration: none;
}
