body {
  font-family: 'Proza Libre', sans-serif;
  font-size: 14px;
  color: white;
  background-color: black;
  text-align: center;
}

.content-wrapper {
  height: 100px;
  width: 100px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.github-handle {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.125em;
}

.portfolio-links {
  display: block;
}

a.portfolio-link {
  color: white;
  margin: 10px;
  font-size: 1.75em;
  text-decoration: none;
}
