body {
  color: white;
  background-color: black;
  font-size: 14px;
}

.App {
  margin: 1rem;
  font-family: 'Hasklig', monospace;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

@font-face {
  font-family: 'Hasklig';
  src:  url('./fonts/Hasklig-Regular.otf') format('otf');
  font-style: normal;
}


